@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

:root {
  --color-primary: rgb(255, 102, 0);
  --color-secondary: #00ff00;
}

body {
  @apply bg-[#0d1b2a];
}